################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.pdb
/EntityMappingToSql/obj/Debug
/test/bin/Debug
/test/obj/Debug
/Linq2Object/bin/Debug
/Linq2Object/obj/Debug
/Linq2Sql/bin/Debug
/Linq2Sql/obj/Debug
